{% extends 'base.html.twig' %}

{% block body %}
<h2>Create Content</h2>
<form id="article" name="article" action="/postArticle" method="POST">
<input type="text" size="60" name="headline" placeholder="Headline"/><br/>
<textarea rows="15" cols="58" name="content" placeholder="Content"></textarea><br/>
<input type="text" size="60" name="creator" placeholder="Author"/><br/>
<input type="submit" value="Comment"/>
</form>
    
{% endblock %}
